{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/general.css') }}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row max-height valign-wrapper">
            <div class="col s12 centered-text valign">
                <div class="col s6">
                    <a href="{{ url_for('student_classification') }}">
                        <img src="{{ url_for('static', filename='images/student1.png') }}" alt="">
                        <h4 class="black-text">After first period</h4>
                    </a>
                </div>
                <div class="col s6">
                    <a href="{{ url_for('student_regression') }}">
                        <img src="{{ url_for('static', filename='images/student2.png') }}" alt="">
                        <h4 class="black-text">After second period</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
